@{
    ViewBag.Title = "Presented by Team iScholarship (Feb 2017)";
}
<h2>@ViewBag.Title</h2>

<p>
    IC Rostering is a web application that will help managers in assigning human resources
    to jobs. With a job created, the manager can add shifts for the job
    indicating the number of people for a certain role that is needed for the job.
</p>
<p>
    The manager or administrator will manage the staff, roles, jobs, shifts and allocating
    staff to shifts. The core functionality of the system is checking for conflicts.  That is why
    when allocating staff, only staff that<br/>
    (1) matches the role required and<br/>
    (2) are available for the duration of the shift<br/>
    will be shown in the dropdown list of staff.
</p>